{% assign version = site.time | date: "%s" %}

<!-- jQuery -->
<script src="js/jquery.js?v={{ version }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js?v={{ version }}"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js?v={{ version }}"></script>
<script src="js/jquery.fittext.js?v={{ version }}"></script>
<script src="js/wow.min.js?v={{ version }}"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js?v={{ version }}"></script>
